.module, .function, .expression, .argument {
	border: 1px solid black;
	margin: 4px 6px;
	padding: 6px;
	border-radius: 4px;
}

.argument {
	margin: 0 4px 0 0;
}

.module {
	color: #fff;
	background-color: hsl(220,30%,50%);
}

.function {
	color: #000;
	background-color: hsl(0,100%,100%);
	display: inline-block;
}

.arguments, .expression, .argument, .block {
	vertical-align: middle;
	display: inline-block;
}

.call > span {
	text-align: left;
	display: inline-block;
}

.call {
	background-color: hsla(220,50%,80%,0.25);
}

.literal {
	background-color: hsl(0,50%,80%);
}

.ref, .argument {
	background-color: hsl(162,50%,80%);
}