<!doctype html>
<html ng-app="functionaltouch">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/vendor/angular-dragdrop.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="modules" ng-controller="ModuleController">
		<div class="module" ng-repeat="module in modules">
			<span>{{ module.name }}</span>

			<div class="functions">				
				<div class="function" ng-repeat="func in module.functions">
					<span>{{ func.name }}</span>
					<div class="arguments">
						<div class="argument" ng-repeat="arg in func.arguments">
							<span>{{ arg.name }}</span>
						</div>
					</div>

					<div class="new-argument"></div>

					<div class="expressions">
						<script type="text/ng-template" id="expression.html">
							<div class="block" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" ng-switch="expr.type">
								<div class="expression call" ng-switch-when="call">
									<span>{{ expr.func }}</span>
									<div class="arguments">
										<div class="block" ng-repeat="expr in expr.expressions" ng-include="'expression.html'">
										</div>
									</div>
									<div class="new-argument"></div>
								</div>
								<div class="expression literal" ng-switch-when="literal">
									<span >{{ expr.value }}</span>
								</div>
								<div class="expression ref" ng-switch-when="ref">
									<span>{{ expr.name }}</span>
								</div>
							</div>
						</script>

						<div class="block" ng-repeat="expr in func.expressions" ng-include="'expression.html'">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>